body {
  font-family: 'Mada', sans-serif;
  letter-spacing: 1px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-item:hover {
  background: #000;
}

.mainbanner {
  background: url('images/b3.jpg');
  background-position: center;
  background-size: cover;
  height: 45vh;
}

.h-100 {
  height: 100vh !important;
}

.navbar {
  background: transparent !important;
  border-bottom: 1px solid gray;
  width: 100%;
}

.wh-clo {
  color: #ffffff !important;
}

.bl-clo {
  background: #000;
}

.pd-0-mr-0{
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 15px 20px;
}
 
.hero-text {
  margin-top: 180px;
}

.mt-70 {
  margin-top: 70px; 
}

.subtitle-text {
  font-size: 14px;
  letter-spacing: 1px;
  color: #4c4c4c;
  line-height: 25px;
}

.subtitle {
  font-family: 'Poiret One', cursive;
  color: #fd5c63;
  font-weight: 700;
  letter-spacing: 1px;
}

.font-poiret {
  font-family: 'Poiret One', cursive;
  font-weight: 700;
  letter-spacing: 1px;
}

.clients {
  background: url('images/b6.jpg');
  background-size: cover;
  height: 75vh;
}

.btn-read {
  border-bottom: 1px solid #000;
  padding: 5px;
  text-decoration: none !important;
  font-size: 19px;
  font-weight: 700;
  color: #fd5c63;
  letter-spacing: 1px;
}

a:hover {
  color: #fd5c63;
}

.mb-24 {
  margin-bottom: 24px; 
}

.mr-8 {
  margin-top: 8px;
}

.mt-48{
  margin-top: 48px;
}

.mb-60 {
  margin-bottom: 60px;
}

.contact-text {
  color: #4c4c4c;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 25px;
}

.mb-0 {
  margin-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.stats {
  background: url('images/b2.jpg');
  height: 45vh;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.top-icon, .top-icon:hover {
  color:#ffffff;
  font-size: 25px;
  line-height: 25px;
}

.pd-tb-24 {
  padding-top: 24px;
  padding-bottom: 24px; 
}

.pd-48-15{
  padding: 48px 15px;
}

.pt-24 {
  padding-top: 24px;
}

.footer-copyright {
  color: #fd5c63;
}

.icon-link {
  color: #6F6E6E;
  font-size: 25px;
  padding-right: 40px; 
}

.icon-link:hover {
  color: #ffffff;
}
